/*----------  Root  ----------*/
.root_container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 1rem;
  padding-right: 1rem;
}

/*----------  sm mediaQuery  ----------*/
@media (min-width: 640px) {
  .root_container {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
}

/*----------  lg mediaQuery  ----------*/
@media (min-width: 1024px) {
  .root_container {
    padding-left: 2rem;
    padding-right: 2rem;
  }
}
