.text_h1 {
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 700;
}

.text_h3 {
  font-size: 1.125rem;
  line-height: 1.75rem;
  font-weight: 500;
  line-height: 1.5rem;
}
.body1 {
  font-weight: 500;
}
.body1,
.body2 {
  font-size: 0.875rem;
  line-height: 1.25rem;
}

.text-6xl {
  font-weight: 800;
  letter-spacing: -0.025em;
  font-size: 3.75rem;
  line-height: 1;
}
