.root_avatar {
  height: 6rem;
  width: 6rem;
  border-radius: 9999px;
  border: 4px solid var(--white);
  background-color: var(--gray-200);
}

/*----------  sm mediaQuery  ----------*/
@media (min-width: 640px) {
  .root_avatar {
    height: 8rem;
    width: 8rem;
  }
}
.root_avatar img {
  border-radius: 9999px;
}
